<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" />
<link href="css/bootstrap-select.min.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link href="css/form.css" rel="stylesheet">
<link href="img/avion.ico" rel="icon" />
<title>Adding</title>
</head>

<body>
	<div class="body-wrap">
		<div class="container">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">MCC</a>
					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="plane_list.html">Planes</a></li>
							<li><a href="flight_list.html">Flights</a></li>
							<li><a href="maintenance_planning.html">Maintenance
									Planning</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Import <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><input type="file" id="upload" style="display: none" /><a
										href="" id="import">MPD</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="logout.html">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="w3-half">
			<div class="w3-panel w3-border x">
				<h1>Adding new task</h1>
			</div>
		</div>
	</div>

	<form id="msform">
		<fieldset>
			<div class="bs-docs-example">
				<div class="form-group">
					<select id="planes" class="selectpicker show-tick"
						data-width="100%" title="Select a plane" data-live-search="true"
						disabled>
						<option value="default"></option>
						<script id="listPlanes" type="text/html">
							<% _.each(item, function(item) { %>
							<option value="<%= item.id %>" data-subtext="<%= item.type %>"><%= item.tailNumber %></option>
							<% }); %>
						</script>
					</select>
				</div>
			</div>
			<div class="bs-docs-example">
				<div class="form-group">
					<select id="tasks" class="selectpicker show-tick" data-width="100%"
						title="Select a task" data-live-search="true">
						<script id="listTasks" type="text/html">
							<% _.each(item, function(item) { %>
							<option value="<%= item.taskNumber %>"><%= item.taskNumber %></option>
							<% }); %>
						</script>
					</select>
				</div>
			</div>
			<div class="bs-docs-example">
				<div class="form-group">
					<select id="mros" class="selectpicker show-tick" data-width="100%"
						title="Select a MRO" data-live-search="true">
						<script id="listMROs" type="text/html">
							<% _.each(item, function(item) { %>
								<option value="<%= item.id %>"><%= item.name %></option>
							<% }); %>
						</script>
					</select>
				</div>
			</div>
			<input type="datetime-local" name="date" id="deadline"
				placeholder="Deadline" />
			<div class="form-inline">
				<label class="custom-control custom-radio"> <input
					id="radio1" name="radio" type="radio" class="custom-control-input">
					<span class="custom-control-indicator"></span> <span
					class="custom-control-description">Line</span>
				</label>
			</div>
			<div class="form-inline">
				<label class="custom-control custom-radio"> <input
					id="radio2" name="radio" type="radio" class="custom-control-input">
					<span class="custom-control-indicator"></span> <span
					class="custom-control-description">Base</span>
				</label>
			</div>
			<button id="add" type="button" class="btn">Add</button>
		</fieldset>
	</form>

	<script>
		if (localStorage.length == 0)
			location.href = "/login.html"
	</script>
	<script src="scripts/jquery-3.1.1.min.js"></script>
	<script src="scripts/jquery-ui.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/bootstrap-select.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/moment.js"></script>
	<script src="scripts/menu.js"></script>
	<script src="scripts/add.js"></script>
</body>
</html>