<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/base.css" rel="stylesheet">
<link href="css/flights.css" rel="stylesheet">
<link rel="icon" href="img/avion.ico" />
<title>Flights</title>
</head>

<body>
	<div class="body-wrap">
		<div class="container">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">MCC</a>
					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="plane_list.html">Planes</a></li>
							<li><a href="flight_list.html">Flights</a></li>
							<li><a href="maintenance_planning.html">Maintenance Planning</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Import <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><input type="file" id="upload" style="display: none" /><a
										href="" id="import">MPD</a></li>
								</ul></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="login.html">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>


	<div class="container">
		<div class="w3-half">
			<div class="w3-panel w3-border x">
				<h1>Flights</h1>
			</div>
		</div>
	</div>

	<div id="rcorners" class="container">
		<div class="form-group has-feedback">
			<input class="form-control searchbar" type="text"
				placeholder="Search..."
				onkeyup="w3.filterHTML('#table_flights', '.flights', this.value)"><i
				class="glyphicon glyphicon-filter form-control-feedback"></i>
		</div>

		<div class="table-responsive">
			<table class="table table-hover" id="table_flights">
				<thead>
					<tr id="thead_row">
						<th>#</th>
						<th>Commercial Number</th>
						<th>Plane</th>
						<th>Departure Airport</th>
						<th>Arrival Airport</th>
						<th>Departure Time</th>
						<th>Arrival Time</th>
					</tr>
				</thead>
				<tbody id="flights">
					<script id="list_flights" type="text/html">
						<% _.each(item, function(item, i) { %>
                    		<tr class="flights">
								<td><strong><%= i %></strong></td>
                        		<td><%= item.commercial %></td>
                        		<td><%= item.idPlane %></td>
                        		<td><%= item.depAirport %></td>
                        		<td><%= item.arrAirport %></td>
                        		<td><%= moment(item.depTime).toISOString() %></td>
                        		<td><%= moment(item.arrTime).toISOString() %></td>
                   		 	</tr>
						<% }); %>
					</script>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/underscore-min.js"></script>
	<script type="text/javascript" src="scripts/moment.js"></script>
	<script type="text/javascript" src="scripts/w3.js"></script>
	<script type="text/javascript" src="scripts/menu.js"></script>
	<script type="text/javascript" src="scripts/flights.js"></script>
</body>
</html>
