<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/base.css" rel="stylesheet">
<link href="css/flights.css" rel="stylesheet">
<link rel="icon" href="img/avion.ico" />
<title>Flights</title>
</head>

<body>
	<div w3-include-HTML="menu.html"></div>

	<div id="rcorners" class="container">
		<div class="form-group has-feedback">
			<input class="form-control searchbar" type="text"
				placeholder="Search..."
				onkeyup="w3.filterHTML('#table_flights', '.flights', this.value)"><i
				class="glyphicon glyphicon-filter form-control-feedback"></i>
		</div>
	</div>

	<br>

	<div id="rcorners-table" class="container">
		<div class="table-responsive">
			<table class="table table-hover" id="table_flights">
				<thead>
					<tr id="thead_row">
						<th>#</th>
						<th>Commercial Number</th>
						<th>Plane</th>
						<th>Departure Airport</th>
						<th>Arrival Airport</th>
						<th>Departure Time</th>
						<th>Arrival Time</th>
					</tr>
				</thead>
				<tbody id="flights">
					<script id="list_flights" type="text/html">
						<% _.each(item, function(item, i) { %>
                    		<tr class="flights">
								<td><strong><%= i %></strong></td>
                        		<td><%= item.commercial %></td>
								<td class="<%= item.idPlane %>"></td>
                        		<td><%= item.depAirport %></td>
                        		<td><%= item.arrAirport %></td>
                        		<td><%= moment(item.depTime).toISOString() %></td>
                        		<td><%= moment(item.arrTime).toISOString() %></td>
                   		 	</tr>
						<% }); %>
					</script>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		if (localStorage.length == 0)
			location.href = "/login.html"
	</script>
	<script src="scripts/jquery-3.1.1.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/moment.js"></script>
	<script src="scripts/w3.js"></script>
	<script>
		w3.includeHTML();
	</script>
	<script src="scripts/menu.js"></script>
	<script src="scripts/flights.js"></script>
</body>
</html>