<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/base.css" rel="stylesheet">
<link href="css/bootstrap-select.min.css" rel="stylesheet">
<link href="css/pagination.css" rel="stylesheet">
<link href="css/planning.css" rel="stylesheet">
<link rel="icon" href="img/avion.ico" />
<title>Maintenance Planning</title>
</head>

<body>
	<div w3-include-HTML="menu.html"></div>

	<div id="rcorners" class="container">
		<div class="text-center">
			<select id="plane-filter" title="Filter by plane"
				class="selectpicker" data-size="auto">
				<option value="default">Any</option>
				<script id="listPlanes" type="text/html">
								<% _.each(item, function(item) { %>
									<option value="<%= item %>"><%= item %></option>
								<% }); %>
							</script>
			</select><select id="mro-filter" title="Filter by MRO" class="selectpicker"
				data-size="auto">
				<option value="default">Any</option>
				<script id="listMROs" type="text/html">
								<% _.each(item, function(item) { %>
									<option value="<%= item %>"><%= item %></option>
								<% }); %>
							</script>
			</select>
		</div>
		<div class="form-group has-feedback">
			<input class="form-control searchbar" type="text"
				placeholder="Search..."
				onkeyup="w3.filterHTML('#tableTasks', '.tasks', this.value)"><i
				class="glyphicon glyphicon-filter form-control-feedback"></i>
		</div>
	</div>

	<br>

	<div id="rcorners-table" class="container">
		<div class="table-responsive">
			<table class="table table-hover" id="tableTasks">
				<thead>
					<tr id="thead_row">
						<th>Plane</th>
						<th>Task number</th>
						<th>Airport</th>
						<th>MRO</th>
						<th>Deadline</th>
						<th>Type</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody id="tasks">
					<script id="list_tasks" type="text/html">
						<% _.each(item, function(item, i) { %>
                    		<tr id="<%= item.id %>" class="tasks">
								<td id="plane" class="<%= item.idPlane %>"></td>
                        		<td><%= item.taskNumber %></td>
								<td><%= item.airport %></td>
                        		<td class="<%= item.idMRO %>"></td>
                        		<td><%= moment(item.deadline).toISOString() %></td>
                        		<td id="type" class="<%= item.type %>"><%= item.type %></td>
								<td class="text-center">
								<a id="<%= item.taskNumber %>" class="btn btn-info btn-xs" data-toggle="modal" 
								data-target="#genericTaskInfo">
									<span class="glyphicon glyphicon-info-sign"></span></a>
								<a id="<%= item.id %>" class="btn btn-warning btn-xs">
									<span class="glyphicon glyphicon-edit"></span></a>
								<a id="<%= item.id %>" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-trash"></span></a>
								</td>
                   		 	</tr>
						<% }); %>
					</script>
				</tbody>
			</table>

		</div>
	</div>

	<br>

	<div id="rcorners" class="container">
		<div class="center">
			<div class="paging-container pagination" id="tablePaging"></div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="genericTaskInfo" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;
					</button>
					<h4 class="modal-title">More info</h4>
				</div>
				<div id="genericTaskListInfo" class="modal-body">
					<ul class="list-group">
						<script id="genericTaskModal" type="text/html">
							<% _.each(item, function(item) { %>
								<li class="list-group-item"><%= item %><span class="badge">item</span></li>
							<% }); %>
						</script>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script>
		if (localStorage.length == 0)
			location.href = "/login.html"
	</script>
	<script src="scripts/jquery-3.1.1.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/bootstrap-select.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/jquery.modal.min.js"></script>
	<script src="scripts/w3.js"></script>
	<script>w3.includeHTML();</script>
	<script src="scripts/pagination.js"></script>
	<script src="scripts/moment.js"></script>
	<script src="scripts/menu.js"></script>
	<script src="scripts/planning.js"></script>
	<script src="scripts/modal.js"></script>
</body>
</html>