<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/planes_list.css" rel="stylesheet">
<link rel="stylesheet" href="css/plane_style.css" />
<link href="http://fonts.googleapis.com/css?family=Arimo:400"
	rel="stylesheet">
<link rel="icon" href="img/avion.ico" />
<title>Planes</title>
</head>

<body>
	<div class="body-wrap">
		<div class="container">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">MCC</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="plane_list.html">Planes</a></li>
							<li><a href="flight_list.html">Flights</a></li>
							<li><a href="add_task.html">Add task</a></li>
							<li><a href="edit_task.html">Edit task</a></li>
							<li><a href="maintenanceplan.html">Maintenance Planning</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="login.html">Disconnect</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="onl_login" id="planes">
			<div class="row onl_row-sm-offset-3">
				<script id="list_planes" type="text/html">
						<% _.each(item, function(item, index) { %>
							<% if(index % 4 == 0) { %>
								<div class="row onl_row-sm-offset-3">
							<% } %>
							
							<div class="col-xs-2 col-sm-2">
								<a class="btn btn-lg btn-primary btn-block"> <i
								class="glyphicon glyphicon-plane pull-left"></i><span>
								<%= item.tailNumber %>
							<br> 
								<small><%= item.type %>
								</small></span></a>
							</div>

							<% if(index % 4 == 3) { %>
                				</div><br>
            				<% } %>
						<% }); %>
				</script>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="scripts/underscore-min.js"></script>
	<script type="text/javascript" src="scripts/planes.js"></script>
</body>
</html>
