<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/base.css" rel="stylesheet">
<link href="css/planes.css" rel="stylesheet">
<link rel="icon" href="img/avion.ico" />
<title>Planes</title>
</head>

<body>
	<div w3-include-HTML="menu.html"></div>
	
	<div class="container">
		<div id="planes">
			<script id="list_planes" type="text/html">
						<% _.each(item, function(item, index) { %>
							<% if(index % 4 == 0) { %>
								<div class="row row-centered">
							<% } %>
							<div id="<%= item.tailNumber %>" class="col-lg-3 col-centered">
								<a id="<%= item.id %>" class="btn btn-lg btn-primary btn-block"> <i
								class="glyphicon glyphicon-plane pull-left"></i><span>
								<%= item.tailNumber %><%= item.id%></span>			
							<br>
								<small><%= item.type %>
								</small></a>
							</div>
							<% if(index % 4 == 3) { %>
                				</div><br>
            				<% } %>
						<% }); %>
				</script>
		</div>
	</div>

	<script>
		if (localStorage.length == 0)
			location.href = "/login.html"
	</script>
	<script src="scripts/jquery-3.1.1.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/w3.js"></script>
	<script>w3.includeHTML();</script>
	<script src="scripts/menu.js"></script>
	<script src="scripts/planes.js"></script>
</body>
</html>