table {
	border-collapse: collapse;
	width: 94%;
	margin: auto;
}

td, th {
	text-align: center;
	padding: 5px;
}

#thead_row {
	color: white;
	opacity: 0.8;
	background-color: #333;
	opacity: 0.8;
}

.form-group {
	margin-top: 10px;
}