.w3-input {
	border: none;
	outline: none;
	width: 100%;
	display: block;
	padding: 8px 16px;
}

.w3-padding {
	padding: 8px 16px !important
}

.w3-border {
	border: 0 !important;
	border: 1px solid #ccc !important;
}