body {
  background-image: url(Images/sky.jpg);
}
nav img {
  margin-top: 3px;
   }
.btn {
  width: 100%;
  font-weight: 700;
  height: 36px; }
.margin {
  margin: 25px 15px !important; }

  h1#title span span {
  	font-weight: 1000;
  }

  h1#title {
  	font-family: 'Roboto Slab', serif;
  	font-weight: 300;
  	font-size: 3.2em;
  	color: white;
  	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  	margin: 0 auto;
  	padding-top: 180px;
  	max-width: 500px;
  	text-align: center;
  	position: relative;
  	top: 0px;
  }
