.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

.btn-primary {
	position: relative;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 10px;
	padding-bottom: 50px;
}

@media ( min-width : 768px) {
	.onl_row-sm-offset-3 div:first-child[class*="col-"] {
		margin-left: 25%;
	}
}

.jumbotron {
    background-color:transparent !important; 
}