/*
body {
	font-family: 'Open Sans', 'sans-serif';
	height: auto;
	min-height: 100%;
	width: auto;
	min-width: 100%;
	background-repeat: no-repeat;
	background: #6DB4F2;
	text-align: center;
}
*/
body, html {
	margin:0;
	padding:0;
	background: url(Images/sky.jpg) no-repeat center fixed;
	background-size: cover; /* version standardisée */
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: transparent !important;
    border-color: white;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

.btn-primary {
	position: relative;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 10px;
	padding-bottom: 50px;
}

@media ( min-width : 768px) {
	.onl_row-sm-offset-3 div:first-child[class*="col-"] {
		margin-left: 25%;
	}
}

.jumbotron {
    background-color:transparent !important;
}
