body{
	background: url("../img/background.jpg");

}

.bouton a
{
	margin-top: 0px;
	border: 0;
	border-radius: 200px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}


ul
{
	display: table;
	width: 90%;
	padding: 0;
	font-size: 15px;
	font-family: "Times New Roman", serif;

}

ul li
{
	display: table-cell;
	text-align: center;
	background: #00A388;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .9);
	border-radius: 1px;
	border: 3px white outset;
}

ul li bla
{
	padding: 10px 0 10px 0;
	display: block;
	background: #00A388;
	color: #EEEEEE;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

ul li a
{
	padding: 10px 0 10px 0;
	display: block;
	border-radius: 3px;
	background:#C0C0C0;
	text-decoration: none;
	color: #EEEEEE;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

ul li a:active
{
	display: block;
	background:#009388;
	color: #DDDDDD;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .9);
}

table
{
	width: 90%;
	border: 2px solid black;
    border-collapse: collapse;
}


tr
{
    border: 1px solid black;
}

th
{
	text-align: left;
}

td
{
	text-align: center;
	width: 300px;
	height: 50px;
	border: 2px solid black;
}
