@import
	url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic)
	;
/*
body, html {
	font-family: 'Open Sans', 'sans-serif';
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(90, 121, 127), #BABEC4);
	text-align: center;
}
*/
body, html {
	margin:0;
	padding:0;
	background: url(Images/sky.jpg) no-repeat center fixed;
	background-size: cover;
}

#custom-search-input {
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

#custom-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-input button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #18E042;
}

input.search-query {
	color: #08CF3D;
	font-weight: bold;
}

.search-query:focus+button {
	z-index: 3;
}

.demo {
	padding: 0em;
}

table :hover {
	background-color: #3498DB
}

.fuc {
	margin-top: 60px;
}

.imag {
	margin-top: 10px
}

.jumbotron {
	background-color: transparent !important;
}