body{
	background-color:#FF0004;
	}

.sb-search {
	position: relative;
	margin-top: 10px;
	width: 12%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;
	margin-right:200px;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}
.flexsearch {
  padding: 0 20px 0 1100px; /* Padding for other horizontal elements */
}
.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 10px 0 1px;
	border-color: #888;
  border-radius: 15px; /* (height/2) + border-width */
  border-style : solid;
	border-width: 2px;
  margin-top: 8px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 60px;
  padding: 0;
  border: none;
  padding-bottom: 10px;
	
  margin-right: 15px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 40px;
}
.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}
.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}
::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}



.bouton
{
	float: right;
	margin: 0 10px 10px 0;
	font-family: Arial,sans-serif;
	width: 100px;
	height: 30px;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
    background: linear-gradient(#EEEEEE, #00C3B6);
    border-radius: 5px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
}

.bouton a
{
	text-decoration: none;
	color: #1f1f1f;
	font-weight: bold;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .5);
}

.bouton:active{
     color: #000;
     background: linear-gradient(orangered, orange);
     box-shadow:	1px 1px 5px black inset,
					0 1px 0 rgba( 255, 255, 255, 0.4);
}

.orange {
	background-color: #FF7B48
}

.rouge{
	background-color: #BA0012;
}

ul
{
	display: table;
	width: 100%;
	padding: 0;
	font-size: 25px;
	font-family: "Times New Roman", serif;


}



ul li
{

	display: table-cell;
	text-align: center;
	padding: 10px 0 10px 0;
	background: #00A388;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .9);
	border-radius: 1px;
}

ul li bla
{
	display: block;
	background: #00A388;
	color: #EEEEEE;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .9);
	clear:both;
}
.img{
	margin-right: 100 px;
	
	}
ul li a
{
	display: block;
	border-radius: 2px;
	background:#00A388;
	text-decoration: none;
	color: #EEEEEE;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

ul li a:active
{
	display: block;
	background: linear-gradient(darkgrey, beige);
	color: #1F1F1F;
	text-shadow: 1px 0 1px rgba(255, 255, 255, .9);
}

table
{
	width: 90%;
	border: 2px solid black;
    border-collapse: collapse;
}
tbody { font-family:bold;
	
	}

tr
{
    border: 1px solid black;
}

th
{
	text-align: left;
}

td
{
	text-align: center;
	width: 300px;
	height: 50px;
	border: 2px solid black;
}
